!!!
%html
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title Test Application
    %link{href: '/assets/application.css', rel: "stylesheet"}/

  %body
    .box
      Hi there

      .red

    %script{src: '/assets/application.js' }
